body {
	background-color: #0D0D20;
	margin: auto 0;
	font-family: arial;
}

.btn1 {
  width: auto;
  height: auto;
  padding: 12px 15px 12px 15px;
  margin-top: 10px;
  margin-left: 93%;
  background-color: white;
  border-radius: 25px;
  border: none;
  display: inline-block;
  font-size: 20px;
}

.font {
	color: white;
	text-align: center;
	margin-top: 150px;
	margin-left: 39%;
	margin-right: 39%;
}

h1, .title {
	font-size: 22px;
	font-weight: bolder;
}

p, .des, .buy {
	font-size: 15px;
}

.btn2 {
  width: auto;
  height: auto;
  margin-top: 60px;
	margin-left: 47%;
	margin-right: 46.5%;
  padding: 7px 20px 7px 20px;
  background-color: #a0e0b2;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  position: fixed;
  z-index: 1;
}

.container1 {
	margin-top: 90px;
	display: flex;
	justify-content: center;
	gap: 15px;
	color: white;
}

.container2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 50px 40px 30px;
}

.box {
	border: 1px solid #0D0D20;
	width: 180px;
	height: 180px;
	border-radius: 20px;
}

.blue {
	background-color: #242486;
}

.gray {
	background-color: #171727;
}

.price {
	font-size: 25px;
	font-weight: bolder;
}

.footer {
	display: flex;
	justify-content: center;
	color: #7575a9;
	font-size: 15px;
}

.box2 {
	border: 1px solid #7575a9;
	padding: 20px;
	margin: 70px 46% auto 46%;
	border-radius: 10px;
}